html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  background-color:  deepskyblue;
  background-image: url(assets/freedom.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 4rem;
  text-align: center;
  line-height: 1.5;
}

.quote {
  font-family: "Julius Sans One", sans-serif;
  font-size: 2.5rem;
}

.quote:hover {
  color: chocolate;
}

.wiseMan {
  font-family: "Crimson Text", serif;
  font-size: 1rem;
  font-style: italic;
  transition: all 0.25s ease-in-out;
}

.wiseMan:hover {
  font-size: 1.5rem;
}
