html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  background-color:  deepskyblue;
  background-image: url(assets/freedom.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100vw;
}

.container {
  width: 90%;
  margin: 20vh auto 10vh;
  text-align: center;
  line-height: 1.5;
}

.quote {
  font-family: "Julius Sans One", sans-serif;
  text-shadow: 0 0 5px deepskyblue;
  font-size: 5vh;
}

.quote:hover {
  text-shadow: 0 0 5px hotpink;
}

.wiseMan {
  font-family: "Crimson Text", serif;
  text-shadow: 0 0 5px deepskyblue;
  font-size: 2vh;
  font-style: italic;
  transition: all 0.25s ease-in-out;
}

.wiseMan:hover {
  text-shadow: 0 0 15px hotpink;
  font-size: 3vh;
  font-weight: bold;
}

nav {
  position: fixed;
  right: 2vw;
  bottom: 2vh;
}

img {
  box-shadow: 0 0 5px 3px navajowhite;
  transition: all 0.25s ease-in-out;
}

img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 5px 5px navajowhite;
}
